<!-- shop/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home - My Shop{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Welcome to UrbanMarket</h1>
        <p>Лучшее место для покупки вещей</p>
        <a class="btn btn-primary btn-lg" href="{% url 'product_list' %}" role="button">В магазин</a>
    </div>
<!-- Раздел отзывов -->
    <div class="container mt-5">
        <h2 class="text-center">Отзывы клиентов</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">"Отличный магазин! Купил здесь новый смартфон, очень доволен!"</p>
                        <p class="text-muted">- Иван Иванов</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">"Широкий выбор товаров и отличные цены. Рекомендую!"</p>
                        <p class="text-muted">- Анна Смирнова</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">"Быстрая доставка и отличное обслуживание. Буду заказывать еще."</p>
                        <p class="text-muted">- Сергей Петров</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
