<!-- shop/templates/product_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ product.name }} - My Shop{% endblock %}

{% block content %}
    <a href="{% url 'product_list' %}" class="nav-link"><-- Назад к списку товаров</a>
    <h1>{{ product.name }}</h1>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 100%; height: auto;">
    {% else %}
        <p>No image available</p>
    {% endif %}
    <p><strong>Price:</strong> {{ product.price }} $</p>
    <p>{{ product.description }}</p>
    <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">В корзину</button>
    </form>

<!--    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Главная</a>-->

{% endblock %}

