body {
    /* Настройки для фона и размера шрифта */
    background-image: url('https://bogatyr.club/uploads/posts/2023-01/1674956243_bogatyr-club-p-gradient-ot-zheltogo-k-zelenomu-fon-krasiv-66.jpg'); /* Путь к изображению фона */
    background-size: cover;
    background-position: center;
    font-size: 16px;
}

.navbar {
    background-color: #ffffff; /* Белый фон для навигационной панели */
}

.navbar-brand,
.nav-link {
    color: #007bff; /* Синий цвет текста для ссылок в навигационной панели */
}

.btn-primary {
    background-color: #0e6e45; /* Синий цвет для кнопок с классом btn-primary */
    border-color: #0e6e45; /* Цвет рамки для кнопок с классом btn-primary */
}

.btn-primary:hover {
    background-color: #0056b3; /* Темно-синий цвет при наведении для кнопок с классом btn-primary */
    border-color: #0056b3; /* Цвет рамки при наведении для кнопок с классом btn-primary */
}

.btn-danger {
    background-color: #dc3545; /* Красный цвет для кнопок с классом btn-danger */
    border-color: #dc3545; /* Цвет рамки для кнопок с классом btn-danger */
}

.btn-danger:hover {
    background-color: #c82333; /* Темно-красный цвет при наведении для кнопок с классом btn-danger */
    border-color: #c82333; /* Цвет рамки при наведении для кнопок с классом btn-danger */
}


/* Стили для активного пункта меню */
.navbar .navbar-nav .nav-item.active .nav-link {
    color: #ffffff; /* Цвет текста */
    background-color: #007bff; /* Цвет фона */
}

/* Стили для активного пункта меню в категориях */
.categories .nav-item.active .nav-link {
    color: #ffffff; /* Цвет текста */
    background-color: #008000; /* Новый цвет фона */
    border-radius: 5px; /* Добавить скругление углов, если нужно */
}

/* Измените цвета по вашему выбору */
.categories .nav-item.active .nav-link {
    background-color: #008000; /* Замените на ваш желаемый цвет */
    color: #008000; /* Замените на ваш желаемый цвет текста */
}


